<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 style= "text-align: center;" class="mt-5 mb-5">HAKKIMIZDA</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, doloribus sit! Similique fuga possimus assumenda sit maiores voluptates suscipit ab, id amet, harum consequuntur tenetur accusamus, rem quod laborum quidem!
      Quia sequi vel eligendi dolore. Itaque ipsa cupiditate doloremque voluptatibus officia porro nemo optio omnis esse adipisci obcaecati, nobis tenetur commodi quod earum necessitatibus? Neque sapiente deserunt eius tempore dicta?
      Quasi cum ipsam voluptatem optio sed dolor illo suscipit quaerat vel assumenda sit repellat nostrum, amet sint? Architecto, error vitae? Ipsam quibusdam asperiores tempora odit et magni beatae! Alias, ipsa.</p>
    </div>
    <div class="col-lg-6">
    <img style="width: 100%; height: 300px;" src="assets/s1.jpg" alt="">
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 style= "text-align: center;" class="mt-5 mb-5">MİSYONUMUZ</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <img style="width: 100%; height: 300px;" src="assets/s3.jpg" alt="">
      </div>
    <div class="col-lg-6">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, doloribus sit! Similique fuga possimus assumenda sit maiores voluptates suscipit ab, id amet, harum consequuntur tenetur accusamus, rem quod laborum quidem!
      Quia sequi vel eligendi dolore. Itaque ipsa cupiditate doloremque voluptatibus officia porro nemo optio omnis esse adipisci obcaecati, nobis tenetur commodi quod earum necessitatibus? Neque sapiente deserunt eius tempore dicta?
      Quasi cum ipsam voluptatem optio sed dolor illo suscipit quaerat vel assumenda sit repellat nostrum, amet sint? Architecto, error vitae? Ipsam quibusdam asperiores tempora odit et magni beatae! Alias, ipsa.</p>
    </div>
    
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 style= "text-align: center;" class="mt-5 mb-5">VİZYONUMUZ</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, doloribus sit! Similique fuga possimus assumenda sit maiores voluptates suscipit ab, id amet, harum consequuntur tenetur accusamus, rem quod laborum quidem!
      Quia sequi vel eligendi dolore. Itaque ipsa cupiditate doloremque voluptatibus officia porro nemo optio omnis esse adipisci obcaecati, nobis tenetur commodi quod earum necessitatibus? Neque sapiente deserunt eius tempore dicta?
      Quasi cum ipsam voluptatem optio sed dolor illo suscipit quaerat vel assumenda sit repellat nostrum, amet sint? Architecto, error vitae? Ipsam quibusdam asperiores tempora odit et magni beatae! Alias, ipsa.</p>
    </div>
    <div class="col-lg-6">
    <img style="width: 100%; height: 300px;" src="assets/s4.jpg" alt="">
    </div>
  </div>
</div>




<app-footer></app-footer>
