<app-navbar></app-navbar>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 style= "text-align: center;" class="mt-5 mb-5">İLETİŞİM</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 ">
      <div class="contact-main d-flex justify-content-center" style="width: 100%; height: 100px; text-align: center;">
        <ul style="list-style-type:none;">
          <li>Adres:Eti mah. Strazburg Cad. 40/16 Çankaya/ANKARA</li>
          <li>Telefon:0 542 396 29 96</li>
          <li>Eposta:ilimdeniz@gmail.com</li>
          <li>Çalışma Saatler:P.tesi-C.tesi0:09:00 - 18:00</li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.730182608335!2d32.83475521524184!3d39.925053979425265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f190a9cea8f%3A0xd3862ea8248d08a0!2sAn%C4%B1tkabir!5e0!3m2!1str!2str!4v1610644209410!5m2!1str!2str" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>



<app-footer></app-footer>
